/* * * * * global * * * * */
body {
  font-family: "Cairo", sans-serif;
  background-color: #F8F8F8;
}

p,
h1,
h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* * * * * global * * * * */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* * * * * Start Navigation bar * * * * */
.navbar {
  margin-bottom: 0px !important;
  min-height: 130px;
  background-color: transparent;
  border: none;
  padding: 0 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
}
.navbar .navbar-brand {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 129px;
  padding-right: 66px;
  padding-top: 28px;
}
.navbar .navbar-brand img {
  height: 65px;
}
.navbar .navbar-line {
  position: absolute;
  height: 0;
  right: 0;
  left: 0;
}
.navbar .navbar-nav {
  padding-top: 34px;
}
.navbar .navbar-nav > li > a {
  color: #fff;
}
.navbar .navbar-nav > li > a:hover {
  color: #9e252e;
}
.navbar .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 45px;
  margin-right: -36px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* * * * * End Navigation bar * * * * */
.loading-overlay {
  background: #222;
  color: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.loading-overlay .spinner {
  width: 40px;
  height: 40px;
  background-color: #9e252e;
  margin: 320px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* * * * * Start Header * * * * */
.headder {
  background: url("../images/headerr.jpg");
  background-position: center;
  height: 116vh;
  margin-top: -130px;
  text-transform: uppercase;
}
.headder .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  z-index: 1;
}
.headder .contentt {
  padding-top: 130px;
}
.headder .vertical-text-1 {
  width: 172px;
  height: 50px;
  margin-top: 125px;
  font-size: 30px;
  margin-left: -31px;
}
.headder .front-text .headingg {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: "Cairo", sans-serif;
}
.headder .front-text .count-down {
  font-size: 85px;
  display: inline-block;
  transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5);
  /* Safari and Chrome */
  -moz-transform: scale(1, 1.5);
  /* Firefox */
  -ms-transform: scale(1, 1.5);
  /* IE 9+ */
  -o-transform: scale(1, 1.5);
}
.headder .front-text .count-type {
  top: 59px;
  position: relative;
  left: -59px;
}
.headder .front-text .buttons {
  margin-top: 100px;
}
.headder .front-text .front-buttons {
  background: #9E252E;
  padding: 5px 33px;
  color: #fff;
  text-decoration: none !important;
}
.headder .front-text .front-buttons:hover {
  color: #fff;
}
.headder .vertical-text-2 {
  width: 500px;
  position: absolute;
  right: -209px;
  top: 405px;
  height: 50px;
  margin-top: 125px;
  font-size: 33px;
  margin-left: -31px;
}

/* * * * * End Header * * * * */
/* * * * * Start upcoming section * * * * */
.upcoming .titlee h1 {
  font-weight: bold;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
  transform: scale(1, 1.2);
  margin-top: 60px;
  -webkit-transform: scale(1, 1.2);
  /* Safari and Chrome */
  -moz-transform: scale(1, 1.2);
  /* Firefox */
  -ms-transform: scale(1, 1.2);
  /* IE 9+ */
  -o-transform: scale(1, 1.2);
}
.upcoming .titlee h1:before {
  content: "2017";
  top: -3px;
  left: 20px;
  position: absolute;
  -webkit-transform: scale(1, 2.2);
  font-size: 49px;
  font-weight: normal;
  opacity: 0.1;
  letter-spacing: 12px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.upcoming .titlee h1 span {
  color: #9E252E;
}
.upcoming .titlee img {
  margin-left: 135px;
}
.upcoming .card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.upcoming .card .menu-content:before, .upcoming .card .menu-content:after {
  content: '';
  display: table;
}
.upcoming .card .menu-content:after {
  clear: both;
}
.upcoming .card .menu-content li {
  display: inline-block;
}
.upcoming .card .menu-content a {
  color: #fff;
}
.upcoming .card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.upcoming .card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.upcoming .card .wrapper:hover .data {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.upcoming .card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
  transform: translateY(calc(70px + 1em));
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.upcoming .card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.upcoming .card .author {
  font-size: 12px;
}
.upcoming .card .title {
  margin-top: 10px;
  text-transform: uppercase;
}
.upcoming .card .text {
  height: 70px;
  margin: 0;
}
.upcoming .card input[type='checkbox'] {
  display: none;
}
.upcoming .card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
}
.upcoming .cards {
  margin-top: -75px;
}
.upcoming .cards .example-1 .wrapper {
  background: url(../images/header2.jpg) center/cover no-repeat;
}
.upcoming .cards .example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9E252E;
  color: #fff;
  padding: 0.8em;
}
.upcoming .cards .example-1 .date span {
  display: block;
  text-align: center;
}
.upcoming .cards .example-1 .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.upcoming .cards .example-1 .date .month {
  text-transform: uppercase;
}
.upcoming .cards .example-1 .date .year {
  font-size: 12px;
}
.upcoming .cards .example-1 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.upcoming .cards .example-1 .title a {
  color: gray;
}
.upcoming .cards .example-1 .menu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.upcoming .cards .example-1 .menu-button span {
  width: 5px;
  height: 5px;
  background-color: gray;
  color: gray;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.upcoming .cards .example-1 .menu-button span:after, .upcoming .cards .example-1 .menu-button span:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
.upcoming .cards .example-1 .menu-button span:before {
  left: -10px;
}
.upcoming .cards .example-1 .menu-button span:aftrer {
  right: -10px;
}
.upcoming .cards .example-1 .menu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.upcoming .cards .example-1 .menu-content li {
  width: 33.333333%;
  float: left;
  background-color: #77d7b9;
  height: 60px;
  position: relative;
}
.upcoming .cards .example-1 .menu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.upcoming .cards .example-1 .menu-content span {
  top: -10px;
}
.upcoming .cards .example-2 .wrapper {
  background: url(../images/headerr.jpg) center/cover no-repeat;
}
.upcoming .cards .example-2 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9E252E;
  color: #fff;
  padding: 0.8em;
}
.upcoming .cards .example-2 .date span {
  display: block;
  text-align: center;
}
.upcoming .cards .example-2 .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.upcoming .cards .example-2 .date .month {
  text-transform: uppercase;
}
.upcoming .cards .example-2 .date .year {
  font-size: 12px;
}
.upcoming .cards .example-2 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.upcoming .cards .example-2 .title a {
  color: gray;
}
.upcoming .cards .example-2 .menu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.upcoming .cards .example-2 .menu-button span {
  width: 5px;
  height: 5px;
  background-color: gray;
  color: gray;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.upcoming .cards .example-2 .menu-button span:after, .upcoming .cards .example-2 .menu-button span:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
.upcoming .cards .example-2 .menu-button span:before {
  left: -10px;
}
.upcoming .cards .example-2 .menu-button span:aftrer {
  right: -10px;
}
.upcoming .cards .example-2 .menu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.upcoming .cards .example-2 .menu-content li {
  width: 33.333333%;
  float: left;
  background-color: #77d7b9;
  height: 60px;
  position: relative;
}
.upcoming .cards .example-2 .menu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.upcoming .cards .example-2 .menu-content span {
  top: -10px;
}

/* * * * * End upcoming section * * * * */
/* * * * * Start About Section * * * * */
.about {
  margin-top: 200px;
}
.about .discription h1 {
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.about .discription h1 span {
  color: #9E252E;
  font-weight: bold;
}
.about .discription .bold-p {
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  color: #555;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.about .vertical-text-2 {
  width: 126px;
  right: 0;
  color: #9E252E;
  margin-top: -290px;
  padding-right: -10px;
  position: absolute;
  text-decoration: none;
  border-bottom: 1px solid #9E252E;
  height: 41px;
  margin-right: -28px;
  padding: 6px;
  font-size: 20px;
}
.about .vertical-text-2:hover {
  text-decoration: none;
  cursor: pointer;
}

/* * * * * End About Section * * * * */
/* * * * * Start Latest Section * * * * */
.latest {
  margin-top: 100px;
}
.latest .back-img {
  height: 700px;
  background-image: url(../images/section-back.jpg);
  margin-top: 200px;
  position: relative;
}
.latest .t-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.latest .title1 {
  margin-top: 55px;
  margin-bottom: -60px;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  position: absolute;
  margin-top: 65px;
}
.latest .title1 h1 span {
  color: #9E252E;
  font-weight: bold;
}
.latest .cardd {
  background-color: #fff;
  box-shadow: -2px 2px 20px 0px rgba(221, 221, 221, 0.73);
  padding: 50px;
  margin-top: -139px;
}
.latest .cardd h2 {
  color: #999;
}
.latest .cardd span {
  float: right;
  margin-top: -46px;
  text-transform: uppercase;
  color: #9E252E;
}
.latest #quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.latest #quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
.latest #quote-carousel .carousel-indicators li {
  background: #c0c0c0;
  margin: 0 10px;
  background: transparent;
}
.latest #quote-carousel .carousel-indicators .active {
  background: #fff;
  height: 10px;
  width: 10px;
  margin-bottom: 1px;
}
.latest .testim {
  background-color: #9E252E;
  padding: 70px;
  height: 446px;
}
.latest .testim p {
  color: #fff;
  font-size: 18px;
  font-family: 'Miniver', cursive;
}
.latest .title2 {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  position: absolute;
}
.latest .title2 h1 span {
  color: #9E252E;
  font-weight: bold;
}
.latest .know-more {
  float: right;
  color: #9E252E;
  border-bottom: 1px solid #9E252E;
  font-size: 19px;
}
.latest .know-more:hover {
  text-decoration: none;
  cursor: pointer;
  color: #9E252E;
}

/* * * * * End Latest Section * * * * */
/* * * * * Start Clients Section * * * * */
.clients {
  margin-top: 300px;
}
.clients .logos {
  background: #fff;
  box-shadow: -2px 2px 20px 7px rgba(221, 221, 221, 0.73);
  padding: 70px;
  z-index: 8 !important;
  position: relative;
}
.clients .logos img {
  margin-bottom: 85px;
}

/* * * * * End Clients Section * * * * */
/* * * * * Start Footer Section * * * * */
.footer {
  height: 850px;
  background-image: url(../images/section-back.jpg);
  background-position: center;
  margin-top: -40px;
  position: relative;
}
.footer .f-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
}

.footer
.subscribe {
  text-transform: uppercase;
  margin-top: 100px;
}

.footer .subscribe h1 {
  margin-top: 31px;
  transform: scale(1, 1.9);
  -webkit-transform: scale(1, 1.9);
  /* Safari and Chrome */
  -moz-transform: scale(1, 1.9);
  /* Firefox */
  -ms-transform: scale(1, 1.9);
  /* IE 9+ */
  -o-transform: scale(1, 1.9);
  letter-spacing: 2px;
}

.footer .subscribe h1 span {
  font-weight: bold;
  color: #fff;
}

.subscribe .input-group {
  margin-top: 15px;
}

.footer .subscribe .input-group input {
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.1);
  border: 0.5 solid #eee;
  width: 100%;
  padding: 19px;
  text-transform: uppercase;
}

.footer .subscribe .input-group button {
  padding: 19px;
  border-radius: 0;
  background-color: #9E252E;
  text-transform: uppercase;
  border: 1px solid #9e252e;
  color: #fff;
}

.kuwait-head {
  display: inline-block;
  font-weight: bold;
  color: #fff;
}

.kuwait .kuwait-head-span {
  margin-left: 10px;
  margin-bottom: 2px;
  color: #9E252E;
  border-bottom: 1px solid #9E252E;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  top: -6px;
}

.kuwait .contact-item {
  list-style: none;
  color: #fff;
  font-size: 18px;
  padding: 6px;
  /* text-align: left; */
  margin-left: -46px;
}

.kuwait ul span {
  font-size: 15px;
  color: #777;
}

.kuwait ul li {
  list-style: none;
  font-size: 18px;
  color: #777;
  margin-left: -37px;
  line-height: 29px;
}

.canada-head {
  display: inline-block;
  font-weight: bold;
  color: #fff;
}

.canada .kuwait-head-span {
  margin-left: 10px;
  margin-bottom: 2px;
  color: #9E252E;
  border-bottom: 1px solid #9E252E;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  top: -6px;
}

.canada .contact-item {
  list-style: none;
  color: #fff;
  font-size: 18px;
  padding: 6px;
  /* text-align: left; */
  margin-left: -46px;
}

.canada ul span {
  font-size: 15px;
  color: #777;
}

.canada ul li {
  list-style: none;
  font-size: 18px;
  color: #777;
  margin-left: -37px;
  line-height: 29px;
}

.contact-form {
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.1);
  padding: 19px;
  margin-top: 10px;
}

.contact-form button {
  padding: 9px 33px;
  border-radius: 0;
  background-color: #9E252E;
  text-transform: uppercase;
  border: 1px solid #9e252e;
  color: #fff;
  margin-top: 10px;
  /* text-align: right; */
  float: right;
}

.bottom-footer {
  text-transform: uppercase;
  margin-top: 100px;
}

.bottom-footer p {
  font-family: "Cairo", sans-serif !important;
}

.bottom-footer p,
.bottom-footer li {
  list-style: none;
  display: inline-block;
  color: #999;
  font-size: 15px;
}

.bottom-footer ul {
  padding-left: 0;
}

.bottom-footer li {
  margin-left: 20px;
}

/* * * * * End Footer Section * * * * */
.no-border {
  border: none !important;
}

/* Media Queries */
@media (min-width: 768px) {
  .navbar-nav > li {
    margin-right: 25px;
    border: 1px solid rgba(255, 255, 255, 0.35);
  }
}
@media (min-width: 992px) {
  .navbar .navbar-nav {
    margin-left: 76px;
  }

  .front-text {
    margin-top: -48px;
  }

  .left-image {
    margin-left: -30px;
  }

  .latest .testim {
    width: 475px;
  }

  .buttons {
    margin-right: 52px;
  }
}
@media (min-width: 768px) {
  .footer {
    height: 1765px !important;
  }
}
@media (min-width: 992px) {
  .footer {
    height: 850px !important;
  }
}
@media screen and (max-width: 768px) {
  .navbar-default .navbar-collapse {
    position: absolute;
    background-color: #262c3c;
    z-index: 99;
    text-align: left;
    width: 100%;
    right: 16px;
  }

  .cards {
    margin-top: 80px !important;
  }

  .latest .title1 {
    margin-bottom: 2px;
    margin-top: 0 !important;
    position: relative;
  }

  .footer {
    height: 1765px !important;
  }

  .footer .bottom-footer ul {
    text-align: center;
  }

  .latest .testim {
    height: 536px !important;
    padding: 35px !important;
  }

  .clients .logos {
    margin-top: 390px !important;
  }
}
/** Classes to extend */
.navbar .navbar-default .navbar-nav .active a, .navbar .navbar-default .navbar-nav .active a:hover, .navbar .navbar-default .navbar-nav .active a:focus {
  color: #fff !important;
  background-color: #eee !important;
}

.headder, .latest .back-img, .footer {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headder .vertical-text-1, .headder .vertical-text-2, .about .vertical-text-2 {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -moz-transform: rotate(270deg);
  /* Firefox */
  -webkit-transform: rotate(270deg);
  /* Safari and Chrome */
  -o-transform: rotate(270deg);
  /* Opera */
}

/*# sourceMappingURL=style.css.map */
